header, main{
    max-width: 90%;
    margin: 0 auto;
}

.miCarrousel{
    max-height: 45%;
}
.Cartas {
    display: flex;
    justify-content: center; /*puede estar--->space-arround para que estén separadas las cartas */ 
    align-items: center;
}    
.main h1 {
    text-align: center;
     
}
    
    
